<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link href="/img/favicon.ico" rel="icon" type="image/png"/>
    <link rel='stylesheet' href='/layout.css' />
    <link rel='stylesheet' href='/libs/loading/loading.css' />
    <script src="/libs/jquery.min.js"></script>
    <link rel='stylesheet' href='/libs/all.min.css' />
    <!--[if lt IE 10]>
    <script src="//as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section role="main" class="react-container">
      <div><%- app %></div>
    </section>
    <script>
      try {
        window.__REDUX_STATE__ = <%- JSON.stringify(reduxData) %>;
      } catch (e) {
        console.warn('error in getting server redux data');
      }
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=D945ef158d49611a2c801630bf3ef7a8"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager.js"></script>
    <script src="/build/common.js"></script>
    <script src="/build/<%= page%>.js"></script>
    <script src="/libs/loading/loading.js"></script>
  </body>
</html>
